{% extends 'base.html.twig' %}
 {% block body %}
     <div class="app-title">
        <div>
            <h1><i class="fa fa-home"></i> Acceuil</h1>
        </div>
    </div>
    <div class="row">

    </div>
 {% endblock %}
