<div class="box box-primary">
    <div class="box-header ptbnull">
        <h4 class="box-title titlefix">Liste des rendez vous</h4>
        <div class="box-tools pull-right">
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive mailbox-messages" id="listappointment">Chargement...</div>
    </div>
</div>